table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  font-weight: normal;
  padding: 5px;
  text-align: left;
}

table {
  width: 30vw;
  margin: 5px;
  font-size: 14px;
}

tr {
  &.red-row {
    background-color: #FFEEEE;
  }

  &.green-row {
    background-color: #EEFFEE;
  }

  &.blue-row {
    background-color: #EEEEFF;
  }
}